.main{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 14px;
  border: 1px solid gray;

}
.movie{
  background-color: rgb(209, 209, 209);
  color: black;
  padding: 5px;
  font-weight: bold;
  text-align: start;
width: 200px;
margin: 10px;
 
  
 
}

.movie img{
    width: 200px;
      align-items: center;
      height: 200px;
}